@charset "UTF-8";

.write-section{
	align-content: center;
	margin: 5%;
	padding: 5%;
	border: 2px solid;
	border-color: #dcdcdc;
	border-radius: 20px;
}
.board-table{
	background-color:white;
	border: 2px solid;
	border-color: grey;
	width: 100%
}
.board-tr{
	background-color:  #AADBFF;
	font-weight: bold;
}

.rightButton{
	text-align: right;
}
.write-form{
	border: 2px solid;
	border-color: grey;
}
.write-title{
	width: 100%;
	height: 30px;
}
.write-content{
	width: 100%;
	height: 300px;
}