@charset "UTF-8";

.header{
	font-size: 25px;
	font-weight: bold;
	margin: 10px;
}
.header-title{
	color: black;
	text-decoration: none;
}
.right-btn{
	text-align: right;
}
.search-type{
	display: inline;
}
.search-btn{
	background-color: #CDECFA;
	border-radius: 5px;
}
.write-btn{
	margin-top: 5px;
	background-color: #CDECFA;
	border-radius: 5px;
}
.board-table{
	background-color:white;
	border: 2px solid;
	border-color: lightgrey;
	border-radius: 20px;
	padding: 10px;
	width: 100%;
}
.board-header{
	border: 2px solid;
	border-color: black;
	background-color:  #E1F6FA;
	border-radius: 20px;
	font-weight: bold;
}
.board-content{
	text-align: center;
	border: 2px solid;
	border-color: grey;
}
.board-title{
	text-decoration: none;
}
.paging-parent{
	display:flex;
	justify-content: center;
}
.paging{
	border: 2px solid;
	border-color: grey;
	background-color: #E1F6FA;
	border-radius: 15px;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
}
.paging-link{
	text-decoration: none;
}