@charset "UTF-8";

.write-section{
	align-content: center;
	margin: 5%;
	padding: 5%;
	border: 2px solid;
	border-color: #dcdcdc;
	border-radius: 20px;
}
.right-btn{
	text-align: right;
}
.back-btn{
	background-color: #CDECFA;
	border-radius: 5px;
}
.writer{
	
}
.write-form{
	
}
.write-title{
	width: 100%;
	height: 30px;
}
.write-content{
	width: 100%;
	height: 300px;
}
.submit-btn{
	background-color: #CDECFA;
	border-radius: 5px;
}